<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient List</title>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
          th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.commands.RecipeCommand"*/-->
<!--/*@thymesVar id="ingredient" type="guru.springframework.commands.IngredientCommand"*/-->
<!--/*@thymesVar id="uom" type="guru.springframework.commands.UnitOfMeasureCommand"*/-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-5">
            <h5><a class ="btn btn-default" href="#" th:href="@{/}" role="button">Back to Recipe List</a></h5>
          </div>
          <div class="col-md-5">
            <h5><a class ="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}" role="button">createIngredient</a></h5>
          </div>
          <div class="col-md-2">
            <h5><a class ="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}" role="button">Back to Recipe</a></h5>
          </div>
        </div>
        <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h5 class="panel-title">Ingredient List</h5>
            </div>
            <div class="panel-body">
              <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.getIngredients())}">
                <table class="table table-hover">
                  <thead class="thead-inverse">
                  <tr>
                    <td>Ingredient ID</td>
                    <td>Description</td>
                    <td>View</td>
                    <td>Update</td>
                    <td>Delete</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:remove="all">
                    <td>123</td>
                    <td>Tasty Goodnees 1</td>
                    <td><a href="#">View</a></td>
                    <td><a href="#">Update</a></td>
                    <td><a href="#">Delete</a></td>
                  </tr>
                  <tr th:remove="all">
                    <td>123</td>
                    <td>Tasty Goodnees 1</td>
                    <td><a href="#">View</a></td>
                    <td><a href="#">Update</a></td>
                    <td><a href="#">Delete</a></td>
                  </tr>
                  <tr th:each="ingredient : ${recipe.getIngredients()}">
                    <td th:text="${ingredient.getId()}">123</td>
                    <td th:text="${ingredient.getAmount() + ' ' +ingredient.getUnitOfMeasure().getDescription()  + ' -' + ingredient.getDescription()}">Description</td>
                    <td><a href="#" th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} + '/show'}">View</a></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} +'/update'}">Update</a></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} +'/delete'}">Delete</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>


</body>
</html>